Package                  Version     Latest       Type
------------------------ ----------- ------------ -----
aiohttp                  3.8.3       3.8.4        wheel
alembic                  1.9.2       1.10.2       wheel
altair                   4.1.0       4.2.2        wheel
antlr4-python3-runtime   4.9.3       4.12.0       wheel
anyio                    3.5.0       3.6.2        wheel
appnope                  0.1.2       0.1.3        wheel
astroid                  2.14.2      2.15.0       wheel
asttokens                2.0.5       2.2.1        wheel
asyncssh                 2.13.0      2.13.1       wheel
attrs                    22.1.0      22.2.0       wheel
autopep8                 2.0.1       2.0.2        wheel
Babel                    2.11.0      2.12.1       wheel
beautifulsoup4           4.11.1      4.11.2       wheel
billiard                 3.6.4.0     4.1.0        wheel
bleach                   4.1.0       6.0.0        wheel
Bottleneck               1.3.5       1.3.7        wheel
chardet                  4.0.0       5.1.0        wheel
charset-normalizer       2.0.4       3.1.0        wheel
click                    8.0.4       8.1.3        wheel
cryptography             38.0.4      39.0.2       wheel
databricks-cli           0.17.4      0.17.5       sdist
debugpy                  1.5.1       1.6.6        wheel
dulwich                  0.21.2      0.21.3       wheel
dvc                      2.45.1      2.47.0       wheel
dvc-data                 0.40.3      0.42.1       wheel
dvc-objects              0.19.3      0.21.1       wheel
dvc-studio-client        0.4.0       0.5.3        wheel
dvc-task                 0.1.11      0.2.0        wheel
dvclive                  2.0.2       2.3.1        wheel
executing                0.8.3       1.2.0        wheel
fastapi                  0.91.0      0.93.0       wheel
fastjsonschema           2.16.2      2.16.3       wheel
Flask                    2.0.3       2.2.3        wheel
flit_core                3.6.0       3.8.0        wheel
fonttools                4.38.0      4.39.0       wheel
fsspec                   2023.1.0    2023.3.0     wheel
future                   0.18.2      0.18.3       sdist
gitdb                    4.0.7       4.0.10       wheel
GitPython                3.1.30      3.1.31       wheel
google-api-python-client 2.77.0      2.80.0       wheel
google-auth              2.16.0      2.16.2       wheel
hydra-core               1.3.1       1.3.2        wheel
ImageHash                4.2.1       4.3.1        wheel
importlib-metadata       5.2.0       6.0.0        wheel
ipykernel                6.19.2      6.21.3       wheel
ipython                  8.8.0       8.11.0       wheel
jedi                     0.18.1      0.18.2       wheel
json5                    0.9.6       0.9.11       wheel
jsonschema               4.16.0      4.17.3       wheel
jupyter_client           7.4.8       8.0.3        wheel
jupyter-console          6.4.4       6.6.3        wheel
jupyter_core             5.1.1       5.2.0        wheel
jupyter-packaging        0.7.12      0.12.3       wheel
jupyter-server           1.23.4      2.4.0        wheel
jupyterlab               3.5.2       3.6.1        wheel
jupyterlab-pygments      0.1.2       0.2.2        wheel
jupyterlab-server        2.10.3      2.20.0       wheel
libarchive-c             2.9         4.0          wheel
Markdown                 3.3.7       3.4.1        wheel
markdown-it-py           2.1.0       2.2.0        wheel
markdown2                2.3.5       2.4.8        wheel
matplotlib               3.6.3       3.7.1        wheel
meson                    1.0.0       1.0.1        wheel
mistune                  0.8.4       2.0.5        wheel
mlflow                   2.1.1       2.2.1        wheel
multimethod              1.5         1.9.1        wheel
nbclassic                0.4.8       0.5.3        wheel
nbclient                 0.5.13      0.7.2        wheel
nbconvert                6.4.4       7.2.9        wheel
nbformat                 5.4.0       5.7.3        wheel
networkx                 2.8.4       3.0          wheel
notebook                 6.5.2       6.5.3        wheel
numpy                    1.23.5      1.24.2       wheel
orjson                   3.8.6       3.8.7        wheel
packaging                22.0        23.0         wheel
Pillow                   9.3.0       9.4.0        wheel
pip                      22.3.1      23.0.1       wheel
pkginfo                  1.8.3       1.9.6        wheel
platformdirs             2.5.2       3.1.1        wheel
prometheus-client        0.14.1      0.16.0       wheel
prompt-toolkit           3.0.36      3.0.38       wheel
protobuf                 4.21.12     4.22.1       wheel
psutil                   5.9.0       5.9.4        wheel
pyarrow                  10.0.1      11.0.0       wheel
pydantic                 1.10.2      1.10.6       wheel
PyDrive2                 1.15.0      1.15.1       wheel
PyJWT                    2.4.0       2.6.0        wheel
pylint                   2.16.2      2.17.0       wheel
pyOpenSSL                22.0.0      23.0.0       wheel
PyQt5                    5.15.8      5.15.9       wheel
PyQt5-sip                12.11.0     12.11.1      wheel
pyrsistent               0.18.0      0.19.3       wheel
pytest                   7.2.1       7.2.2        wheel
python-multipart         0.0.5       0.0.6        wheel
python-slugify           8.0.0       8.0.1        wheel
pytz                     2022.7      2022.7.1     wheel
pyzmq                    23.2.0      25.0.0       wheel
QtPy                     2.2.0       2.3.0        wheel
requests                 2.28.1      2.28.2       wheel
rfc3986                  1.5.0       2.0.0        wheel
rich                     13.3.1      13.3.2       wheel
ruamel.yaml.clib         0.2.6       0.2.7        wheel
scikit-learn             1.2.1       1.2.2        wheel
scipy                    1.9.3       1.10.1       wheel
scmrepo                  0.1.11      0.1.15       wheel
sentry-sdk               1.9.0       1.16.0       wheel
setproctitle             1.2.2       1.3.2        wheel
setuptools               66.1.1      67.6.0       wheel
sip                      6.6.2       6.7.7        wheel
smmap                    4.0.0       5.0.0        wheel
sniffio                  1.2.0       1.3.0        wheel
soupsieve                2.3.2.post1 2.4          wheel
SQLAlchemy               1.4.46      2.0.5.post1  wheel
sqltrie                  0.0.28      0.1.1        wheel
stack-data               0.2.0       0.6.2        wheel
starlette                0.24.0      0.26.0.post1 wheel
style                    1.1.0       1.1.6        wheel
tqdm                     4.64.1      4.65.0       wheel
traitlets                5.7.1       5.9.0        wheel
typing_extensions        4.4.0       4.5.0        wheel
ujson                    5.4.0       5.7.0        wheel
uvicorn                  0.20.0      0.21.0       wheel
virtualenv               20.17.1     20.20.0      wheel
wandb                    0.13.9      0.13.11      wheel
watchdog                 2.2.1       2.3.1        wheel
wcwidth                  0.2.5       0.2.6        wheel
websocket-client         0.58.0      1.5.1        wheel
Werkzeug                 2.2.2       2.2.3        wheel
wrapt                    1.14.1      1.15.0       wheel
xhtml2pdf                0.2.2       0.2.9        wheel
ydata-profiling          4.0.0       4.1.0        wheel
zc.lockfile              2.0         3.0.post1    wheel
zipp                     3.12.0      3.15.0       wheel
zstandard                0.18.0      0.20.0       wheel
